<div class="new-theme-border">
    <div class="header-background">
        <span>New Theme</span>
    </div>
    <form #newThemeForm="ngForm" (ngSubmit)="submitNewTheme(newThemeForm)">
        <div class="new-theme-title">
            <label for="themeName">Title <span class="red">*</span></label>
            <input #themeName="ngModel" type="text" name="themeName" ngModel id="themeName" required minlength="5">
            
            <ng-container *ngIf="themeName.touched && themeName.invalid">
                <p class="error" *ngIf="themeName.errors.required">
                    Theme name is required.
                </p>
                <p class="error" *ngIf="themeName.errors.minlength">
                    Theme name must be at least 5 characters long.
                </p>
            </ng-container>
            
        </div>
        <div class="new-theme-content">
            <label for="postText">Post <span class="red">*</span></label>
            <textarea #postText="ngModel" type="text" name="postText" ngModel id="postText" rows="8" class="height" required minlength="10"></textarea>
            <ng-container *ngIf="postText.touched && postText.invalid">
                <p class="error" *ngIf="postText.errors.required">
                    The field with your post is required.
                </p>
                <p class="error" *ngIf="postText.errors.minlength"> 
                    Post must be at least 10 characters long.
                </p>
            </ng-container>
        </div>
        <div class="new-theme-buttons">
            <button type="button" (click)="navigateToHome()" class="cancel">Cancel</button>
            <button [disabled]="newThemeForm.invalid" class="public">Post</button>
        </div>

    </form>
</div>